:root {


/* CSS HEX */
--baby-powder: #fffffaff;
--black: #000103ff;
--raw-umber: #8c6239ff;
--vista-blue: #7f95d1ff;
--tickle-me-pink: #ff82a9ff;
--lighter-pink: #fce5ec;
}

* {margin: 0;}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

header {
    
        background-color: var(--tickle-me-pink);
        height: 10dvh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

nav > a {

            text-decoration: none;
            background-color: var(--baby-powder);
            color: var(--black);
            padding: 0.25em;
            border-radius: 0.5em;
    }

nav > a:hover {

        background-color: var(--vista-blue);
}

body {
    
                display: flex;
                flex-direction: column;
                background-color: (var (--baby-powder));
                justify-content: center;
                align-items: center;
            }

footer {
    
        background-color: var(--baby-powder);
        height: 10dvh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: auto;
}

#social_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem;
    padding-top: 1rem;
    border-top: 2px black solid;
    margin-top:auto;
}

main {
        width: 100dvw;
        min-height: 80dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}


main  > * {

        margin: 1em;

}

main > a {
        margin: 0;
}


main > img {

            height: 70dvh;
            border-radius: 60%;
            margin: 2em;
            background-color: var(--raw-umber);
            color: var(--black);
            object-fit: cover;
        }
